@import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=Outfit:wght@400;700&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit";
  text-decoration: none;
}

.box {
  min-height: 100vh;
  /* background-color: rgb(71, 135, 231); */
  background-color: hsl(212, 45%, 89%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: white;
  width: 400px;
  height: 550px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  text-align: center;
}

.img {
  width: 370px;
  height: 340px;
  border-radius: 1rem;
}

.container h2 {
  color: hsl(218, 44%, 22%);
  margin-top: 10px;
  padding: 0px 50px;
}

.container p {
  color: hsl(220, 15%, 55%);
  margin-bottom: 30px;
  padding: 0px 60px;
}

.attribution,
.attribution a {
  font-size: 14px;
  margin-top: 8px;
  color: rgb(32, 30, 179);
}
